//colors
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
//font
$default-font-size: 1.6rem;
//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;


.feature-box{
background-color: rgba($color-white, .8);
font-size: 1.5rem;
padding: 2.5rem;
text-align:center;
border-radius:3px;
box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
transition: transform .3s;

&__icon{
  font-size:6rem;
  margin-bottom:.5rem;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  // background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  
}
  &:hover{
    transform: translateY(-1.5rem) scale(1.03);
  }

}

